.login-parent {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: "Merriweather Sans", sans-serif;
  background: url("../../assets/ai-art-abstract-space-universe-nebula-smoke-2209925-wallhere.com.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.5);
  max-width: 25rem;
  width: 100%;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.5); /* Transparent background color */
  backdrop-filter: blur(10px);
}

.login-form h3 {
  font-size: 32px;
  font-size: 2rem;
  margin-bottom: 2rem;
  text-align: center;
  color: #fff;
}

.login-form label {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  text-align: left;
  width: 100%;
  font-size: 24px;
}

.login-form label input {
  font-size: 1rem;
  padding: 0.75rem 1rem;
  border: none;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.7); /* Lighter background color */
  color: #333;
}

.login-form label input:focus {
  outline: none;
  color: #333;
  box-shadow: 0 0 0 2px #ffa500;
}

.login-form button[type="submit"] {
  font-size: 1.2rem;
  margin-top: 2rem;
  padding: 0.75rem 1.5rem;
  border: none;
  border-radius: 5px;
  background-color: #ffa500;
  color: #fff;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.login-form button[type="submit"]:hover {
  background-color: #ff8c00;
}

.login-form p {
  margin-top: 1.5rem;
  font-size: 24px;
  font-weight: bold;
  color: #fff;
  text-align: center;
}

.login-form p a {
  color: #ffa500;
  font-weight: bold;
  text-decoration: none;
}



.login-error {
  position: absolute;
  top: 1rem;
  left: 50%;
  transform: translateX(-50%);
  padding: 1rem;
  background-color: #ff6347;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.5);
}

.login-actual-error {
  font-size: 1.2rem;
  font-weight: bold;
}
