.sci-container {
  display: flex;
  height: 100vh;
  justify-content: space-evenly;
  align-items: center;
  font-family: "Merriweather Sans", sans-serif;
  background: url(../../assets/scifipage.jpg) no-repeat center center
    fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: rgb(246, 242, 242);
  padding: 10px;
}

.sci-form {
  margin: 5px;
  color:#fff;
  font-size: 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50vw;
  height: 90%;
  background-color: rgba(249, 249, 249, 0.1);
  border-radius: 10px;
  padding: 20px;
  
}

.sci-form textarea {
  width: 70%;
  height: 40%;
  background-color: rgba(0, 0, 0, 0.3);
  border: none;
  resize: none;
  outline: none;
  border-radius: 10px;
  padding: 20px;
  margin: 30px;
  font-size: 16px;
  color: #fff;
}
.sci-form textarea::placeholder{
  color:#fff
  }

.sci-form button {
  padding: 10px 20px;
  font-size: 18px;
  background-color: rgba(100, 200, 70, 0.5);
  font-size: 24px;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 30%;
  transition: background-color 0.3s ease;
}

.sci-form button:hover {
  background-color: #45a049;
}

/* .sci-img styles */
.sci-img {
  margin: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 50vw;
  height: 90%;
  margin-top: 2rem;
  
    color:#fff;
}

.sci-img img {
  max-width: 100%;
  max-height: 100%;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.sci-img h5 {
  font-size: 18px;
  font-weight: 400;
  color: #fff;
}
